label {
    display: block;
    padding-left: 8%;
    font-weight: bold;
    /* align-content: center; */
  }
  
  label,
  .icon {
    color: #4caf50;
  }
  
  .icon {
    margin-left: 6%;
    background: none;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    padding-left: 30%;
    padding-bottom: 10%;
    width: 80px;
    font-size: 30px;
  }
  
  .choice-btn > button {
    border: none;
    background-color: white;
  }
  
  .choice-list {
    border-radius: 8px;
    border: 2px solid #4caf50;
    width: 6.5%;
    position: absolute;
    top: 20%;
    left: 1%;
  }
  
  .choice-btn {
    border-bottom: 1px solid #4caf50;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
  
  .popup-leave-mess {
    border-radius: 8px;
    border: 2px solid #4caf50;
    padding: 0px 5px 5px 10px;
    width: 27%;
    position: absolute;
    top: 25%;
    left: 35%;
  }
  
  .popup-leave-mess > span {
    display: block;
    margin-top: 10px;
    background-color: rgb(238, 235, 235);
    border: 1px solid rgb(238, 235, 235);
    border-radius: 3px;
    padding: 5px;
  }
  
  .popup-leave-mess > button {
    /* float: right; */
    background: none;
    color: #4caf50;
    cursor: pointer;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid #4caf50;
    margin: 10px;
    margin-bottom: 5px;
    padding: 5px;
  }
  
  .popup-leave-mess > button:nth-child(3) {
    border-color: red;
    color: red;
  }
  