* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.App {
  font-family: "Quicksand";
  text-align: center;
}

* {
  font-family: "Quicksand";
}
